$custom-palette: (
  0: #000000,
  10: #09154c,
  20: #212c62,
  25: #2d376e,
  30: #38437a,
  35: #444e87,
  40: #505b93,
  50: #6973ae,
  60: #838dca,
  70: #9da8e6,
  80: #bac3ff,
  90: #dee0ff,
  95: #f0efff,
  98: #fbf8ff,
  99: #fefbff,
  100: #ffffff,

  secondary: (
    0: #000000,
    10: #191b27,
    20: #2e303d,
    25: #393b48,
    30: #444654,
    35: #505160,
    40: #5c5d6c,
    50: #757686,
    60: #8f8fa0,
    70: #a9aabb,
    80: #c5c5d7,
    90: #e1e1f3,
    95: #f0efff,
    98: #fbf8ff,
    99: #fefbff,
    100: #ffffff,
  ),

  neutral: (
    0: #000000,
    4: #0d0e13,
    6: #121318,
    10: #1b1b1e,
    12: #1f1f25,
    17: #29292f,
    20: #303033,
    22: #34343a,
    24: #39393f,
    25: #3c3b3e,
    30: #474649,
    35: #535255,
    40: #5f5e61,
    50: #787679,
    60: #929093,
    70: #adaaad,
    80: #c8c6c9,
    87: #dbd9e0,
    90: #e5e1e5,
    92: #e9e7ef,
    94: #efedf4,
    95: #f3f0f3,
    96: #f5f2fa,
    98: #fcf8fc,
    99: #fffbfe,
    100: #ffffff,
  ),

  neutral-variant: (
    0: #000000,
    10: #1b1b21,
    20: #303036,
    25: #3b3b41,
    30: #46464c,
    35: #525258,
    40: #5e5e64,
    50: #77767d,
    60: #919097,
    70: #acaab2,
    80: #c7c5cd,
    90: #e3e1e9,
    95: #f2f0f7,
    98: #fbf8ff,
    99: #fefbff,
    100: #ffffff,
  ),

  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);
