@if (blog(); as blog) {
  <article class="blog-detail">
    @if (blog.headerImageUrl) {
      <img [src]="blog.headerImageUrl" [alt]="blog.title" />
    } @else {
      <img src="/images/blog-placeholder-image.jpg" alt="Platzhalterbild" />
    }

    <h1>{{ blog.title }}</h1>
    <p class="meta">Von {{ blog.author }}</p>
    <p>{{ blog.content }}</p>

    <a mat-button routerLink="/">Zurück zur Übersicht</a>
  </article>
} @else {
  <p>Blog-Post wurde nicht gefunden.</p>

  <a mat-button routerLink="/">Zurück zur Übersicht</a>
}
